.container {
    height: 100vh;
}

span.dot {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(213, 58, 213);
    pointer-events: none;
    user-select: none;
}